[submodule "transport_parser"]
	path = transport_parser
	url = https://github.com/ITA-Dnipro/Dp-207_Python_e-mandruy_transports_api.git
	branch = master
[submodule "flask_hotels_service"]
	path = flask_hotels_service
	url = https://github.com/ITA-Dnipro/Dp-207_Python_e-mandruy_hotels_api.git
[submodule "flask_weather_service"]
	path = flask_weather_service
	url = https://github.com/ITA-Dnipro/Dp-207_Python_e-mandruy_weather_api.git
[submodule "flask_restaurants_service"]
	path = flask_restaurants_service
	url = https://github.com/ITA-Dnipro/Dp-207_Python_e-mandruy_restaurants_api.git
[submodule "tg_bot"]
	path = tg_bot
	url = https://github.com/ITA-Dnipro/Dp-207_Python_e-mandruy_tg_bot.git
[submodule "django_app"]
	path = django_app
	url = https://github.com/ITA-Dnipro/Dp-207_Python_e-mandruy_django_app.git
