{% extends "base.html" %}

{% block content %}

{{ hotel.name }}
<img src="{{ hotel.photo.url }}">
<div class="text-success text-center">RATING: {{ hotel.get_avg_marks }}</div>
        <form action="{% url 'hotels:rating_create' hotel.pk %}" method="post">
            {% csrf_token %}
            {{ rate }}
            <input type="submit" value="Rate"
            class="btn btn-primary">
        </form>

<div class="row">
    <div class="col">
        {% if hotel.comments.all %}
         <h3 class="text-center">Comments:</h3>
        <ul class="list-group">
            {% for h in hotel.comments.all %}
            <li class="list-group-item">{{ h }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h5>NO COMMENTS YET</h5>
        {% endif %}
    </div>
    <hr>
        <h3 class="text-center">Comment Form:</h3>
        <form action="{% url 'hotels:hotel_comment' hotel.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Comment"
            class="btn btn-primary">
        </form>
    </div>

<div>
</div>
</div>




{% endblock %}