{%extends 'base.html'%}

{%block content%}

<h1>Transport</h1>

<div>{{object_count}}</div>

<table class="table table-light table-striped" >
  <thead>
    <tr>
     <th scope="col">Counter</th>
      <th scope="col">Departure City</th>
      <th scope="col">Arrival City</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Parsed Time</th>
      <th scope="col">Source URL</th>
    </tr>
  </thead>
  <tbody>
    {% for transport in route_list %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <th>{{ transport.departure_name}}</th>
              <th>{{ transport.arrival_name}}</th>
              <th>{{ transport.departure_date}}</th>
              <th>{{ transport.parsed_time}}</th>
              <th><a href = "{{transport.source_url}}">Go to book</a></th>
            </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock content%}





