{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Trasport app Transport view</h1>
    <br>
    <form class="form-inline" action="{% url 'transport:schedule_post_handler' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.departure_name }}
        {{ form.arrival_name }}
        {{ form.departure_date }}
        {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
        {% endif %}
        <input type="submit" class="btn btn-primary btn-sm" value="Search">
    </form>
</div>
{% endblock %}